<!-- views/login.ejs -->
<!doctype html>
<html>
<head>

<title>CSTS</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<script src="https://use.fontawesome.com/eb37379e07.js"></script>

<style>
  .container {
    padding-top: 3em;
    padding-bottom: 2em;
  }
  .form-signin h1 {
    padding-bottom: 0.5em;
  }
  .form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
  }

  /* Social login */
  .col-social-left {
    padding-left: 15px;
    padding-right: 2px;
  }
  .col-social-middle {
    padding-left: 2px;
    padding-right: 2px;
  }
  .col-social-right {
    padding-left: 2px;
    padding-right: 15px;
  }
  .btn-fb {
    background-color: #3B5998;
    border-color: #314a7f;
  }
  .btn-go {
    background-color: #dd4b39;
    border-color: #c44232;
  }
  .btn-tw {
    background-color: #00aced;
    border-color: #0099d3;
  }
  .btn-fb:hover {
    background-color: #314a7f;
    cursor:pointer;
  }
  .btn-go:hover {
    background-color: #c44232;
    cursor:pointer;
  }
  .btn-tw:hover {
    background-color: #0099d3;
    cursor:pointer;
  }
  .fa-facebook {
    color: white;
  }
    .fa-google {
    color: white;
  }
    .fa-twitter {
    color: white;
  }
  @media only screen and (max-width: 577px) {
    .col-social-left, .col-social-middle, .col-social-right {
      padding-left: 15px;
      padding-right: 15px;
      padding-bottom: 0.5em;
    }
  }

  /* --- OR --- */
  .hr-text {
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: black;
    text-align: center;
    height: 1.5em;
    opacity: 0.5;
  }
  .hr-text:before {
    content: '';
    background: linear-gradient(to right, transparent, #818078, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }
  .hr-text:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;
    padding: 0 0.5em;
    line-height: 1.5em;
    color: #818078;
    background-color: #fcfcfa;
  }

  
  /* Local login */
  .form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .btn-main {
    background-color: #297373;
    border-color: #205a5a;
  }
  .btn-main:hover { 
    background-color: #205a5a;
    cursor:pointer;
  }
  
  /* Links */
  #links {
    margin-top: 1em;
  }
  #links p {
    margin-bottom: 0;
  }
</style>

</head>

<body>
  <div class="container">
    <!-- flash messages -->
    <% if (msgError.length > 0) { %>
      <div class="alert alert-danger"><%= msgError %></div>
    <% } %>
    <% if (msgInfo.length > 0) { %>
      <div class="alert alert-info"><%= msgInfo %></div>
    <% } %>
    <% if (msgSuccess.length > 0) { %>
      <div class="alert alert-success"><%= msgSuccess %></div>
    <% } %>

    <div class='form-signin'>
      <h1><span class="fa fa-sign-in"></span> Login</h1>
      <div class='row'>
        <div class='col-sm col-social-left'>
          <a class="btn btn-primary btn-lg btn-block btn-fb" href="/auth/facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        </div>
        <div class='col-sm col-social-middle'>
          <a class="btn btn-primary btn-lg btn-block btn-go" href="/auth/google"><i class="fa fa-google" aria-hidden="true"></i></a>
        </div>
        <div class='col-sm col-social-right'>
          <a class="btn btn-primary btn-lg btn-block btn-tw" href="/auth/twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </div>
      </div>

      <hr class="hr-text" data-content="OR">

      <!-- LOGIN FORM -->
      <form action="/login" method="post">
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus="" name='email'>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required name='password'>

        <button type="submit" class="btn btn-dark btn-lg btn-block btn-main">Login</button>
      </form>
      <hr>
      <div id='links'>
        <p>Need an account? <a href="/signup">Signup</a></p>
        <p>Or go back <a href="/">home</a>.</p>
      </div>
    </div>
  </div>
</body>

</html>
